legacy-peer-deps=true
enable-pre-post-scripts=true
fetch-timeout=900000
fetch-retries=8
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=180000
network-concurrency=2
audit=false
trustLockfile= true